---
import Layout from "../layouts/Layout.astro";
<<<<<<< HEAD
import 
---

<Layout>
  <section class="hero">
    <h1>SIDSES KERAMIK</h1>

    <p class="subheadline">
      Hver nuance en historie - Sidses håndlavede keramik til dig
    </p>
  </section>

  <section class="grønBG">
    <p>
      Velkommen til Sidses Keramik – her mødes håndværk og æstetik i unikke,
      håndlavede produkter. Inspireret af naturens farver og former skaber Sidse
      keramik med sjæl og personlighed, der bringer glæde til hverdagen. Udforsk
      kollektionerne og find det perfekte match til dit hjem.
    </p>
  </section>

  <section>
    
  </section>
</Layout>
=======
import Footer from "../components/Footer.astro";
---

<h1>Hej</h1>

<Footer />

>>>>>>> Cecilie
