---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Underhero from "../components/Underhero.astro";
import Review from "../components/Review.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HeroForside from "../../public/image/heroForside.webp";
import Karrusel from "../components/Karrusel.astro";
import Keramikkensrejse from "../components/KeramikkensRejse.astro";
import Collageinspi from "../components/Collageinspi.astro";
import Billedegalleri from "../components/Billedegalleri.astro";
import Instagalleri from "../components/Instagalleri.astro";

import { Image } from "astro:assets";
import KeramikkensRejse from "../components/KeramikkensRejse.astro";
---

<Layout>
  <Header />
  <Hero />
  <Underhero />

  <section class="karrusel">
    <Karrusel />
  </section>
  <KeramikkensRejse />

  <Review />

  <section>
    <Billedegalleri />
  </section>

  <Instagalleri />
</Layout>

<Footer />

<style>
  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    /* width: 100%;
    height: auto; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center; */
  }

  .instalogo {
    color: white;
    padding: 0;
  }

  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    padding: 0 20px;
  }

  .h2 {
    text-align: center;
    padding: 50px 0 0 0;
  }

  main {
    max-width: 428px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .text1 {
    padding: 20px 10px;
  }

  .grønBG {
    text-align: center;
    padding: 10px;
    background-color: var(--accent-green-clr);
  }

  .button {
    margin: 30px;
  }

  @media (max-width: 600px) {
    .hide {
      display: none;
    }
  }

  @media (min-width: 600px) {
    .grid_2-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0;
    }
  }
</style>
