---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />

  <h1>Kollektioner</h1>

  <section class="grid_4">
    <div>
      <h3>Silva</h3>
    </div>
    <div>
      <h3>Terra</h3>
    </div>
    <div>
      <h3>Unda</h3>
    </div>
    <div>
      <h3>Numbilus</h3>
    </div>
  </section>

  <hr class="solid" />

  <section class="grid_2 kollektioner">
    <div class="kollektioncard">
      <img src="../../public/image/silvaKollektion.webp" alt="" />
      <h3>Silva</h3>
      <p>
        Latinsk for "skov", Inspireret af til de dæmpede, naturlige toner, jeg
        forbinder med skovlandskaber.
      </p>
      <a class="button" href="">LÆS MERE</a>
    </div>
    <div>
      <img src="../../public/image/terraKollektion.webp" alt="" />
      <h3>Terra</h3>
      <p>
        Latinsk for "jord", inspireret af koppens naturlige og rustikke udtryk.
      </p>
      <a class="button" href="">LÆS MERE</a>
    </div>
    <div>
      <img src="../../public/image/undaKollektion.webp" alt="" />
      <h3>Unda</h3>
      <p>
        Latinsk for "bølge" eller "strøm", inspireret af den buede og flydende
        form.
      </p>
      <a class="button" href="">LÆS MERE</a>

    </div>
    <div>
      <img src="../../public/image/numbilusKollektion.webp" alt="" />
      <h3>Numbilus</h3>
      <p>
        Latinsk for "skylignende" eller "overskyet", inspireret af den bløde
        overgang mellem farverne og det drømmende udtryk.
      </p>
      <a class="button" href="">LÆS MERE</a>
    </div>
  </section>

  <Footer />
  <Layout />

  <style>
    .kollektioner {
      margin: 50px 20px;
      padding: 0 0 30px 0;
    }

    .kollektioncard{
        padding: 0 0 20px 0;

    }
    .grid_4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 6px;
      margin-top: 50px;
    }

    img {
      width: 100%;
    }

    p {
      /* width: 311px; */
      text-align: center;
    }
    h3 {
      text-align: center;
    }

    h1 {
      text-align: center;
    }

    hr.solid {
      border-top: 1px solid #000000;
      margin: 0 40px;
    }

    .button{
        display: flex;
  justify-content: center;
  margin: 1rem 20px;
    }

    @media (min-width: 600px) {
      .grid_2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6px;
        margin-top: 50px;
      }

      .grid_4 {
        padding: 10px 50px;
      }
    }
  </style>
</Layout>
