* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Didot";
  src: url(../font/Didot\ Regular.ttf) format("truetype");
}

@font-face {
  font-family: "MontserratRegular";
  src: url(../font/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "MontserratLightItalic";
  src: url(../font/Montserrat-LightItalic.ttf) format("truetype");
}

html {
  /* DESKTOP STØRRELSER */
  --fs-body: 20px;
  --fs-xxl: 5rem; /* Headline 1 - desktop */
  --fs-xl: 3rem; /* Headline 2 - desktop */
  --fs-l: 1.4rem; /* Headline 3 - desktop */
  --fs-m: 1.3rem; /* Subheadline - desktop */
  --fs-s: 1.1rem; /* Header text - desktop */
  --fs-xs: 0.9rem; /* Hero text - desktop */
  --fs-xxs: 0.8rem; /* Body text, Button text, bodt text itallic - desktop */

  /* MOBIL STØRRELSER */
  --mfs-xxl: 1.7rem; /* Headline 1 - mobil */
  --mfs-xl: 1.2rem; /* Headline 2 - mobil */
  --mfs-l: 1rem; /* Headline 3 - mobil */
  --mfs-m: 0.7rem; /* Body text - mobil */
  --mfs-s: 0.6rem; /* Subheadline */

  /* FARVER */
  --primaer-clr: #f6f2eb;
  --sekundaer-clr: #cfc6b9;
  --tridaer-clr: #624f46;
  --text-clr: #4a3c39;
  --accent-green-clr: #cbcd9d;
  --accent-blue-clr: #abceed;

  --ff-headlines: "Didot", sans-serif;
  --ff-main: "MontserratRegular", sans-serif;
  --ff-mainspeciel: "MontserratLightItalic", sans-serif;
}

/* MOBIL */
@media (max-width: 678px) {
  h1 {
    font-size: var(--mfs-xxl);
  }

  h2 {
    font-size: var(--mfs-l);
  }

  h3 {
    font-size: var(--mfs-m);
  }

  p {
    font-size: var(--mfs-s);
  }

  .subheadline {
    font-size: var(--mfs-m);
  }

  .button {
    text-decoration: none;
    padding: 2px 2px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    background: var(--tridaer-clr);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--primaer-clr);
    font-size: var(--mfs-s);
  }
}

/* GENERELT & DESKTOP */
h1,
h2,
h3,
.subheadline {
  line-height: 1.2;
  font-family: "Didot", sans-serif;
}

h1 {
  font-size: var(--fs-xxl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-l);
}

.subheadline {
  font-size: var(--fs-m);
}

p {
  font-size: var(--fs-xxs);
  font-family: "Didot", sans-serif;
}

body {
  background-color: var(--primaer-clr);
}

.bold {
  font-weight: bold;
}

.button {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: var(--tridaer-clr);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--primaer-clr);
}
