<section>
  <h2>hej</h2>
  <img src="../../public/image/forside2.webp" alt="" />
  <img src="../../public/image/forside2.webp" alt="" />
  <img src="../../public/image/forside2.webp" alt="" />
  <img src="../../public/image/forside2.webp" alt="" />
</section>
