---
import Image from 'astro/components/Image.astro';
import herobillede from "../../public/image/herobillede.webp";

---
<section class="hero">
    <h1>SIDSES KERAMIK</h1>
    <p class="subheadline ">
      Hver nuance en historie - Sidses håndlavede keramik til dig
    </p>
  </section>



<style>

    .hero {
    background-image: url("../../public/image/herobillede.webp");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 625px;
    
    
  }

  h1{
    padding-top: 77px;
    padding-left: 68px;
  }
  .subheadline{
    padding-left: 68px;
    padding-top: 4px;
    font-size: var(--fs-m);
  }

  @media (max-width: 600px) {

    .hero {
      width: 100%;
      height: 200px;
    }
    h1{
    padding-top: 77px;
    padding-left: 0;
    font-size: var(--fs-m);
    text-align: center;
  }
  .subheadline{
    padding-left: 0;
    padding-top: 4px;
    font-size: var(--fs-xs);
    text-align: center;

  }

  }
</style>
<!-- 


<section class="hero">
<header class="hero-section">
    <h1>SIDSES KERAMIK</h1>
      
      <p class="hero-subtitle">Hver nuance en historie - Sidses håndlavede keramik til dig</p>
    
  
   
    <Image src={herobillede} alt="Keramik på hylder" class="hero-background" />
  </header>

  <style>
    .hero-section {
      position: relative;
      width: 100%;
      height: 60vh; /* Justér højden efter behov */
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      overflow: hidden; /* Sørger for, at billedet ikke "stikker ud" */
    }
    
    /* Baggrundsbilledet */
    .hero-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; /* Skaler billedet så det passer */
      z-index: -1; /* Læg billedet bag teksten */
      width: 100%;
    height: 555px;
    }
    
  
    /* Tekststyling */
   h1 {
      font-size: 3rem;
      color: #3d3d3d;
      margin: 0;
      font-family: 'Georgia', serif;
    }
    
    .hero-subtitle {
      font-size: 1.2rem;
      color: #4a4a4a;
      margin-top: 0.5rem;
    }


    .hero {
    background-image: url("../../public/image/heroForside.webp");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 555px;
  }

    </style> -->