---
import Image from 'astro/components/Image.astro';
import herobillede from "../../public/image/herobillede.webp";

---
<section class="hero">
    <h1>SIDSES KERAMIK</h1>
    <p class="subheadline ">
      Hver nuance en historie - Sidses håndlavede keramik til dig
    </p>
  </section>



<style>

    .hero {
    background-image: url("../../public/image/herobillede.webp");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 625px;
    
    
  }

  h1{
    padding-top: 77px;
    padding-left: 68px;
  }
  .subheadline{
    padding-left: 68px;
    padding-top: 4px;
    font-size: var(--fs-m);
  }

  @media (max-width: 600px) {

    .hero {
      width: 100%;
      height: 200px;
    }
    h1{
    padding-top: 77px;
    padding-left: 0;
    font-size: var(--fs-m);
    text-align: center;
  }
  .subheadline{
    padding-left: 0;
    padding-top: 4px;
    font-size: var(--fs-xs);
    text-align: center;

  }

  }
</style>