---
import Hjerte from '/image/hjerte.svg';
import Kurv from '/image/kurv.svg';
---

    <div class="card">
        <div class="card-image">
          <img src="/image/unfamBG.webp" alt="Kop med hank" />
          <span class="heart-icon">
            <Hjerte />
          </span>
        </div>
      
        <div class="card-content">
            <h2>
              Kop med hank <span class="price">399,00 kr</span>
            </h2>
            <h3>Kollektion</h3>
            <p>
              Perfekt til din morgenrutine, denne håndlavede skål kombinerer nordisk
              minimalisme med naturlige farver. Ideel til yoghurt, grød eller snacks.
            </p>
          </div>

          <div class="card-footer">
            <span class="basket-icon">
              <Kurv />
            </span>
          </div>
        </div>

  <style>

.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
  </style>