---
import Image from "astro/components/Image.astro"
import Lertallerken from "../../public/image/Lertallerken.webp"
---

<body>
  <div class="container">
    <div class="text-section">
      <p>
        Velkommen til Sidses Keramik – her mødes håndværk og æstetik i unikke, håndlavede produkter. Inspireret af naturens farver og former skaber Sidse keramik med sjæl og personlighed, der bringer glæde til hverdagen. Udforsk kollektionerne og find det perfekte match til dit hjem.
      </p>
      <a href="/kollektioner" class="button-link">
        <button class="button">SE PRODUKTER</button>
      </a>
    </div>
    <div class="image-section">
      <Image class="image" src={Lertallerken} alt="Keramik billede" />
    </div>
  </div>
</body>

<style>
  .container {
  display: flex;
  flex-direction: row;
  align-items: stretch; 
  width: 100%;
}

  /* Grøn tekstsektion */
  .text-section {
    background-color: #c6c69a;
    color: #333;
    flex: 1; /* Fylder al ledig plads */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Placerer knappen nederst */
    padding: 60px;
    box-sizing: border-box; /* Sørger for korrekt padding */
  }

.text-section p {
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
}

.button-link {
  align-self: flex-end; 
  text-decoration: none; 
  margin-top: auto; 
}

.button {
  background-color: #6b4f41;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #5a4033;
}

.image-section {
  flex: 1; 
  display: block;
  aspect-ratio: 16 / 9; 
  overflow: hidden; 
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
  }

  .text-section {
    padding: 30px; 
  }

  .image-section {
    display: none; 
  }
}

</style>
