---
import "../style/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="Sidses Keramik er en håndlavet keramikvirksomhed grundlagt af 21-årige Sidse Snedevind i Aarhus. Fra hobby til salg tilbyder Sidse unikke produkter via Instagram og en ny hjemmeside. Perfekt til dem, der søger autentisk og personlig keramik.">
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  main {
    margin: 20px;
  }
</style>
